%h1= t('tasks.listing_index')

%table
  %thead
    %tr
      %th= t('.name')
      %th= t('.description')
      %th= t('.due_date')
      %th= t('.category')
      %th
      %th
      %th

  %tbody
    - @tasks.each do |task|
      %tr
        %td= task.name
        %td= task.description
        %td= task.due_date
        %td= task.category
        %td= link_to t('common.show'), task
        %td= link_to t('common.edit'), edit_task_path(task)
        %td= link_to t('common.destroy'), task, :data => { :turbo_method => :delete, :turbo_confirm => t('common.confirm_deletion') }

%br

= link_to t('tasks.new_task'), new_task_path
