%h1= t('categories.listing_index')

%table
  %thead
    %tr
      %th= t('.name')
      %th= t('.description')
      %th
      %th
      %th

  %tbody
    - @categories.each do |category|
      %tr
        %td= category.name
        %td= category.description
        %td= link_to t('common.show'), category
        %td= link_to t('common.edit'), edit_category_path(category)
        %td= link_to t('common.destroy'), category, :data => { :turbo_method => :delete, :turbo_confirm => t('common.confirm_deletion') }

%br

= link_to t('categories.new_category'), new_category_path
